:root{
    --background-color: bisque;
    --text-color: black;
}

body {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-wrap: wrap;
}

article{
    padding: 25px;
    flex: 1 0 768;
    margin: 10px;
    height: 200px;
    background-color: var(--background-color);
    color: var(--text-color);
    border-radius: 15px;
    border: solid 2px black;
}